<%- include("partials/header") %>
  <h2>Kontakt</h2>
  <p>Pokud máte zájem o přepravu koně, neváhejte mě kontaktovat:</p>

  <ul>
    <li><strong>Telefon:</strong> +420 777 123 456</li>
    <li><strong>Email:</strong> info@preprava-koni.cz</li>
    <li><strong>Facebook:</strong> fb.com/preprava.koni</li>
  </ul>

 <%- include("partials/footer") %>
