<%- include("partials/header") %>
  <h2>Ceník</h2>
  <table border="1" cellpadding="10" cellspacing="0">
    <tr>
      <th>Služba</th>
      <th>Cena</th>
    </tr>
    <tr>
      <td>Přeprava koně po ČR</td>
      <td>18 Kč / km</td>
    </tr>
    <tr>
      <td>Čekání při přepravě</td>
      <td>250 Kč / hodina</td>
    </tr>
    <tr>
      <td>Přeprava do zahraničí</td>
      <td>dle individuální dohody</td>
    </tr>
    <tr>
      <td>Nouzový převoz (mimo běžnou pracovní dobu)</td>
      <td>+20 % k základní sazbě</td>
    </tr>
  </table>
  <p><em>Ceny jsou orientační a mohou se lišit dle konkrétní zakázky.</em></p>
<%- include("partials/footer") %>
