body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #444;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 2rem;
  flex: 1; /* zabere zbylé místo */

}

footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}
